.menu-item-type-simple-icon {
  width: 97%;
  margin-top: 3px;
  border-radius: 4px;
  .label {
    padding: 6px 12px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    height: 32px;

    // color: #0094ff;
    //transition: all 0.3s ease;
    .left {
      span {
        padding-left: 6px;
        padding-bottom: 1.3px;
      }
    }
  }
  .icons {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>')
      50%/2rem 2rem;
    content: '';
    -webkit-filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    height: 1.25rem;
    margin-left: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    min-width: 1.25rem;
    width: 1.25rem;
  }

  .icons.opened {
    padding: auto;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
  //slot animation
  .openAnima {
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    height: 100%;
  }
  .menuexpand .open {
    color: red;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
}
