.menu-item-type-simple-icon {
  float: right;
  // align-self: flex-start;
  position: relative;
  .labelMini {
    //left: calc(-39px + 15px) !important;
    //padding-left:calc(-39px + 15px) !important; ;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    display: flex;

    align-items: center;
    user-select: none;

    position: fixed;
    width: 200px;
    font-size: 16px; //d

    //left: 55.25px;
    //   padding-left: 400px; width+ left
    //   margin-left: -12px;
    //   background: rgba(0, 0, 0, 0.05);
    //           color: #2c7ae0;
    //     padding: 6px 12px;
    // width:500px !important;
  }
  .label {
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    display: flex;
    // color: #0094ff;
    align-items: center;
    user-select: none;
    box-sizing: border-box; //r
    transition: all 0.3s ease; //d
    font-family: 'Inter'; //r
    font-size: 16px; //d
    font-weight: 400; //d
    > .left {
      display: flex;
      align-items: center;
    }

    position: relative;
    // &:hover {

    // }
    @media (hover: hover) and (pointer: fine) {
      /* ... */
      cursor: pointer;
    }
    @media (hover: none) and (pointer: coarse) {
      /* ... */
      cursor: none;
    }
  }

  // .items-container {
  //   // width: 100%;
  //   // left: calc(100% + 6px);
  //   // transition: height 0.3s ease;
  //   // overflow: hidden;
  //   // &.small-menu {
  //   //   width: fit-content;
  //   //   position: absolute;
  //   //   background: #fff;
  //   //   box-shadow: 0 0 10px #ebebeb;
  //   //   top: 0;
  //   //   .label {
  //   //     width: 100% !important;
  //   //     padding-left: 20px !important;
  //   //   }
  //   // }
  // }
}
@import './types/simple-icon.scss';
