@use './menu-scrollbar';
@use './themes/white-theme.scss';
@use './themes/dark-theme.scss';
.menu {
  .items-container {
    height: fit-content;
  }

  .menuOpenAnimation {
    // transition: all 0.25s ease;
    overflow: hidden;
  }

  .menu-icon {
    font-size: 20px;
    width: 20px; ///ssssss dyynamiiiic
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  top: 0;
  transition: left 0.3s ease-in-out;
  overflow-y: overlay;

  &.compelete-coolapse-menu {
    left: -300px;
  }

  .openAnima {
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    height: 100%;
  }
  .menuexpand .open {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
  z-index: 858589;
}
.over-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 858584;
}
